<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="css/style.css">
    <title>Канбан-Доска</title>
</head>
<body>
<div id="app" class="header">
    <h1> Канбан-Доска</h1>
    <form @submit.prevent="addCard">
        <label for="taskTitle">Заголовок:</label>
        <input v-model="cardTitle" type="text" id="taskTitle" required>

        <label for="taskDescription">Описание задачи:</label>
        <input v-model="cardDesc" type="text" id="taskDescription" required>

        <label for="taskDeadline">Дедлайн:</label>
        <input v-model="deadline" type="date" id="taskDeadline" required>

        <button type="submit">Добавить задачу</button>
    </form>


    <div class="kanban-board">
        <div class="column">
            <h2>Запланированные задачи</h2>
            <div v-for="card in plannedTasks" :key="card.id">
                <div>
                    <strong>{{ card.title }}</strong>
                    <p>{{ card.description }}</p>
                    <p>Дедлайн: {{ card.deadline }}</p>
                    <button @click="removeCard(plannedTasks, card)">Удалить</button>
                    <button @click="cardMove(card, 'inProgress')">В работу</button>
                </div>
            </div>
        </div>

        <div class="column">
            <h2>Задачи в работе</h2>
            <div v-for="card in inProgressTasks" :key="card.id">
                <div>
                    <strong>{{ card.title }}</strong>
                    <p>{{ card.description }}</p>
                    <p>Дедлайн: {{ card.deadline }}</p>
                    <button @click="removeCard(inProgressTasks, card)">Удалить</button>
                    <button @click="cardMove(card, 'testing')">В тестирование</button>
                </div>
            </div>
        </div>

        <div class="column">
            <h2>Тестирование</h2>
            <div v-for="card in testingTasks" :key="card.id">
                <div>
                    <strong>{{ card.title }}</strong>
                    <p>{{ card.description }}</p>
                    <p>Дедлайн: {{ card.deadline }}</p>
                    <button @click="removeCard(testingTasks, card)">Удалить</button>
                    <button @click="cardMove(card, 'completed')">Завершить</button>
                </div>
            </div>
        </div>

        <div class="column">
            <h2>Выполненные задачи</h2>
            <div v-for="card in completedTasks" :key="card.id">
                <div>
                    <strong>{{ card.title }}</strong>
                    <p>{{ card.description }}</p>
                    <p>Дедлайн: {{ card.deadline }}</p>
                    <button @click="removeCard(completedTasks, card)">Удалить</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script defer src="js/vue.js"></script>
<script defer src="js/main.js"></script>
</body>
</html>
